@charset "ISO-8859-1";

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    position: relative;
    height: 810px; 
    background: url("../img/header.png") center/cover no-repeat;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  z-index: 15;
}

.containerNav{
	max-width: 1200px;
  margin: 0 auto;
}

.nav .containerNav{
	 display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  transition: all 0.3s ease-in-out;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: black;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

.nav.active {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active a {
  color: #000;
}

.nav.active .containerNav {
  padding: 10px 0;
}

.nav a.current,
.nav a:hover {
  color: #c0392b;
  
}

.restaurant-container {
    display: inline-block; /* Permet aux cases d'être côte à côte */
    vertical-align: top; /* Alignement en haut de chaque case */
    width: 45%; /* Largeur de chaque case, ajustez selon vos besoins */
    border: 1px solid #ddd; /* Bordure de la case */
    padding: 10px; /* Espacement interne */
    margin: 10px; /* Marge externe */
    border-radius: 5px; /* Coins arrondis */
    transition: box-shadow 0.3s ease; /* Animation de l'ombre */
	
    /* Style par défaut de l'ombre */
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
}

.restaurant-container:hover {
    /* Style de l'ombre au survol */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Style pour le bouton "Détails" */
.restaurant-container a button {
    background-color: #13BF7D; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 8px 16px; /* Espacement interne */
    border: none; /* Pas de bordure */
    border-radius: 4px; /* Coins arrondis */
    text-decoration: none; /* Pas de soulignement du texte */
    cursor: pointer; /* Curseur pointeur au survol */
}

.restaurant-container a button:hover {
    background-color: rgb(16, 160, 106); /* Couleur de fond au survol */
}

h1{
	margin-top: 50px;
}

