@charset "ISO-8859-1";

body {
	margin: 0;
	max-width: 1920px;
	margin: auto !important;
	padding: 0;
	font-family: Arial, sans-serif;
}

header {
	position: relative;
	height: 810px;
	background: url("../img/header.png") center/cover no-repeat;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

/**Navbar**/
.nav {
	position: fixed !important;
	background-color: #FAFAFB;
	top: 0;
	left: 0;
	right: 0;
	transition: all 0.3s ease-in-out;
	z-index: 15;
}

.navbar-toggler {
	background-color: #F96540 !important;
}

.containerNav {
	max-width: 1200px;
	margin: 0 auto;
}

.nav .containerNav {
	display: flex;
	/*	justify-content: space-between;*/
	align-items: center;
	padding: 10px 0;
	transition: all 0.3s ease-in-out;
}

.nav ul {
	display: flex;
	list-style-type: none;
	align-items: center;
	justify-content: center;
	gap: 86px;
	margin-left: 120px;
}

.nav a {
	color: black !important;
	text-decoration: none;
	padding: 7px 15px;
	transition: all 0.3s ease-in-out;
}

.nav.active {
	background-color: #fff;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav-link.active {
	color: #F96540 !important;
	font-weight: bold;
}



.nav.active .containerNav {
	padding: 10px 0;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: #F96540 !important;
}

@media (max-width:992px) {
	.nav ul {

		gap: 10px;

	}
}


/**Index**/
.btnOrange {
	border: none;
	background-color: #F96540;
	color: white;
	border-radius: 25px;
	height: 52px;
	max-width: 244px;
	padding: 0 35px;
	cursor: pointer;
}

.btnOrange:hover {
	background-color: rgb(250, 129, 99);
}

.btnDark {
	border: solid #F96540 1px;
	background-color: #171A1F;
	color: #F96540;
	border-radius: 25px;
	height: 52px;
	max-width: 244px;
	padding: 0 35px;
	cursor: pointer;
}

.btnDark:hover {
	background-color: rgb(46, 46, 46);
}

@media screen and (max-width: 767px) {
	.btnOrange {
		border: none;
		background-color: #F96540;
		color: white;
		border-radius: 25px;
		height: 28px;
		max-width: 244px;
		padding: 0 15px;
		cursor: pointer;
	}

	.btnDark {
		border: solid #F96540 1px;
		background-color: #171A1F;
		color: #F96540;
		border-radius: 25px;
		height: 20px;
		max-width: 244px;
		padding: 0 15px;
		cursor: pointer;
	}
}

.overlay {
	position: absolute;
	background-color: white;
	color: black;
	top: 50%;
	left: 20%;
	transform: translate(-50%, -50%);
	text-align: center;
	height: 440px;
	max-width: 440px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 45px;

}

.userName {
	color: #F96540;
}

.overlay h1 {
	font-size: 36px;
	/* Adjust the font size */
	margin-bottom: 10px;
}

.overlay p {
	font-size: 18px;
	/* Adjust the font size */
	margin-bottom: 20px;
}

.presentation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 5% 30%;
	background-color: #FAFAFB;
}

.client {
	display: flex;
	max-height: 520px;
	padding: 0 20%;
	align-items: center;

}

.col1 {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.client .col1 {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.client .col1 img {
	border-radius: 50%;
	max-height: 124px;
	width: 124px;
    object-fit: cover;
}

.col2 {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.client .col2 img {
	max-width: 520px;
	max-height: 520px;
	object-fit: none;
}

.client .col1 strong {
	margin-top: 25px;
}

.restaurants {
	position: relative;
	height: 314px;
	background-color: #171A1F;
	margin: 125px 20%;
	border-radius: 5px;
	display: flex;
}

.restaurants h2,
.restaurants p {
	color: white;
}

.restaurants .col1 {
	justify-content: center;
	padding: 0 50px;
}



.petitbowl {
	max-height: 165px;
	width: 174px;
}

.cutbowl {
	position: absolute;
	height: 200px;
	bottom: 0%;
	right: 5%;
	/* transform: translate(-50%, -50%);*/

}

@media (max-width:767px) {
	.client .col2 {
		display: none;
	}

	.overlay {
		left: 0%;
		transform: translate(0, 0);
		height: 282px;
	}

	.presentation {

		padding: 0;

	}

	.client {
		max-height: none;
		align-items: center;
		padding: 0px;
	}

	.client .col1 {
		width: 100%;
		padding: 0;
	}

	.restaurants {
		margin: 0;
		margin-bottom: 15px;
	}

	.restaurants .col1 {
		padding: 0;
		padding-left: 10px;
	}

	.restaurants .btnOrange {
		height: 47px;
	}

	.cutbowl {
		height: 75px;
	}


}

/**Liste restaurants**/



.liste-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.restaurant-container {
	width: 40%;
	display: flex;
	flex-direction: column;
	border: 1px solid #ddd;
	/* Bordure de la case */
	margin: 10px;
	/* Marge externe */
	margin-bottom: 20px;
	border-radius: 8px;
	/* Coins arrondis */
	transition: box-shadow 0.3s ease;
	box-shadow: 0px 0px 1px 0px #171A1F12;
}

.restaurant-container img {
	max-height: 150px;
	/* Hauteur fixe de l'image */
	width: auto;
}

.restaurant-container:hover {
	/* Style de l'ombre au survol */
	box-shadow: 0px 0px 2px 0px #171A1F1F;
}

/* Style pour le bouton "Détails" */
.restaurant-container a button {
	background-color: white;
	border: 1px solid #F96540;
	color: #F96540;
	/* Couleur du texte */
	padding: 8px 16px;
	/* Espacement interne */
	border-radius: 4px;
	/* Coins arrondis */
	cursor: pointer;
	/* Curseur pointeur au survol */
}

.restaurant-container a button:hover {
	background-color: rgb(240, 240, 240);
	;
	/* Couleur de fond au survol */
}

.restaurant-container h2 {
	padding-left: 16px;
	/* Espacement interne */
	padding-top: 15px;
	line-height: 26px;
	text-align: left;
}

.restaurant-container p {
	padding-left: 16px;
	/* Espacement interne */
}

.restaurant-container h2+p {
	font-style: italic;
	color: #6E7787;
}

.restaurant-container a {
	padding-left: 16px;
	/* Espacement interne */
	padding-bottom: 20px;
}


.header-restaurant {
	position: relative;
	height: 240px;
	;
	background: url("../img/sauce.png") center/cover no-repeat;
}

h1 {
	text-align: center;
}

.liste_container {
	flex-direction: row;
}

.titre_liste_restaurants {
	color: #F96540;
	margin-top: 50px;
	margin-bottom: 50px;

}

@media screen and (max-width: 767px) {
	.liste_container {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		flex-direction: column;
		align-content: center;
	}

	.restaurant-container {
		padding-bottom: 10px;
		width: 100%;
	}

	.restaurant-container h2 {
		padding-top: 15px;
	}
}


/*Mon Compte*/
.compte-container,
.messages-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.infos-container {
	width: 40%;
	display: flex;
	flex-direction: column;
	border: 1px solid #ddd;
	/* Bordure de la case */
	margin: 10px;
	/* Marge externe */
	border-radius: 8px;
	/* Coins arrondis */
	transition: box-shadow 0.3s ease;
	box-shadow: 0px 0px 1px 0px #171A1F12;
}

.message-container {
	width: 100%;
	display: flex;
	flex-direction: column;
}


.infos-container:hover {
	/* Style de l'ombre au survol */
	box-shadow: 0px 0px 2px 0px #171A1F1F;
}

/* Style pour le bouton "Détails" */
.compte-container a button {
	background-color: white;
	border: 1px solid #F96540;
	color: #F96540;
	/* Couleur du texte */
	margin-top: 10px;
	padding: 8px 16px;
	/* Espacement interne */
	border-radius: 4px;
	/* Coins arrondis */
	cursor: pointer;
	/* Curseur pointeur au survol */
}

.compte-container a button:hover {
	background-color: rgb(240, 240, 240);
	;
	/* Couleur de fond au survol */
}

.compte-container form {
	padding-bottom: 20px;
}

.btn_supp_user {
	background-color: white;
	border: 1px solid #F96540;
	color: #F96540;
	margin-top: 10px;
	margin-left: 15px;
	padding: 8px 16px;
	border-radius: 4px;
	cursor: pointer;
}

.btn_supp_user:hover {
	background-color: rgb(240, 240, 240);
	;
}

.infos-container h2 {
	padding-left: 16px;
	/* Espacement interne */
	line-height: 26px;
	text-align: left;
}

.infos-container p {
	padding-left: 16px;
	/* Espacement interne */
	font-style: italic;
	color: #6E7787;
}

.compte-container a {
	padding-left: 16px;
	/* Espacement interne */
	padding-bottom: 20px;
}

.message-container {
	padding: 10px;
	/* Ajouter un espacement autour du message */
}

.message-container h3,
.message-container p {
	padding: 10px;
	/* Ajouter un espacement autour du message */
	margin-left: 5%;
}

.message-container:nth-child(even) {
	background-color: #FAFAFB;
}

.message-container h3 {
	margin-bottom: 5px;
	/* Ajouter un espace en dessous du titre */
}

.input_style {
	border: none;
	border-bottom: 2px solid #F96540;
	outline: none;
}

.input_style,
.input_style:focus {
	border-bottom-color: #F96540;
}


.compte-container label {
	color: #F96540;
}

.compte-container input {
	width: 100%;
	padding: 8px;
	margin-bottom: 10px;
	box-sizing: border-box;
}

.compte-container .button_style {
	background-color: white;
	border: 1px solid #F96540;
	color: #F96540;
	margin-top: 10px;
	padding: 8px 16px;
	border-radius: 4px;
	cursor: pointer;
}

.compte-container .button_style:hover {
	background-color: #FAFAFB;
}

.margin_titre_reservation {
	margin-top: 50px;
	margin-bottom: 50px;
}


@media screen and (max-width : 767px) {
	.infos-container {
		width: 95%;
	}

	.compte-container form {
		padding-left: 0px;
		padding-bottom: 20px;
	}
}

/*RESERVATION*/

.container-global-reservation {
	display: flex;
	gap: 12%;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.container-global-reservation .compte-container,
.horaires {
	width: 30%;
}

.horaires {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	color: white;
	background-color: #171A1F;
	padding: 10px;
	padding-left: 20px;
	border-radius: 5px;
	margin-left: 5px;
	margin-bottom: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.horaires h2 {
	color: #F96540;
}

.reservation_envoye {
	width: 60%;
	padding-left: 5%;
	padding-right: 5%;
}

.reservation_envoyee {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.erreur {
	color: #F96540;
	font-style: italic;
}

.reservation_envoye a button {
	background-color: white;
	border: 1px solid #F96540;
	color: #F96540;
	/* Couleur du texte */
	margin-top: 10px;
	padding: 8px 16px;
	/* Espacement interne */
	border-radius: 4px;
	/* Coins arrondis */
	cursor: pointer;
	/* Curseur pointeur au survol */
}

.reservation_envoye a button:hover {
	background-color: rgb(240, 240, 240);
	;
	/* Couleur de fond au survol */
}

@media screen and (max-width: 767px) {
	.container-global-reservation .compte-container {
		width: 100%;
		margin: 0px;
		padding: 0px;
	}

	.container-global-reservation {
		display: flex;
		flex-direction: column;
	}

	.container-global-reservation .compte-container form {
		width: 90%;
		padding: 0px;
		margin-bottom: 15px;
	}

	.container-global-reservation .compte-container input {
		padding: 0px;
		margin-bottom: 10px;
	}

	.container-global-reservation .horaires {
		width: 100%;
		margin-bottom: 10px;
	}
}

/* CONNEXION */
.banner_connexion {
	height: 379px;
	width: 100%;
	object-fit: cover;
}

.title_connexion {
	text-align: center;
}

.container_connexion {

	display: flex;
	justify-content: center;
	width: 100%;
	background-color: #FAFAFB;
	padding-bottom: 30px;
	padding-top: 30px;
}

.col_1_connexion {
	padding-top: 15px;
	background-color: #FAFAFB;
	display: flex;
	align-items: center;
	width: 30%;
}

.col_1_connexion form {
	width: 100%;
	padding: 0 10%;
}

.label_connexion {
	display: flex;
	flex-direction: column;
}

.label_connexion label {
	margin-top: 30px;
}

.col_2_connexion img {
	height: 300px;
	object-fit: cover;
}



.input_style {
	margin: 15px 0;
	margin-left: 15px;
	border: none;
	border-bottom: 2px solid #F96540;
	background-color: #FAFAFB;
	outline: none;
}

.input_style,
.input_style:focus {
	border-bottom-color: #F96540;
}

.container_btn {
	display: flex;
	justify-content: space-around;
}

/* FOOTER */
.container_footer {
	display: flex;

	justify-content: space-between;
	padding: 0 10%;
	background-color: #171A1F;
	/*height: 323px;*/
}

.col1_footer {
	color: white;
	width: 40%;
}

.logo_footer {
	display: flex;
	margin: 25px 0;
}

.col1_footer a {
	text-decoration: none;
}

.col1_footer a,
a:visited,
a:hover,
a:active {
	color: inherit;
	text-decoration: none;
}

.col1_footer ul {
	list-style-type: none;
	display: flex;
}

.col1_footer ul li {
	margin: 0 15px;
}


.logo_footer img {
	margin-right: 25px;
}

.quick_access {
	display: flex;
}

.col2_footer {
	margin-top: 25px;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.col2_footer button {
	height: 44px;
}

.social_media {
	font-size: 35px;
	display: flex;
	gap: 20px;
}

@media screen and (max-width: 767px) {

	.container_footer {
		padding: 0 3%;
		height: auto;
		flex-direction: column-reverse;
	}

	.logo_footer h2 {
		font-size: 0.75em;
	}

	.logo_footer img {
		height: 30px;
	}

	.col1_footer {
		width: 100%;
		margin-top: 10px;
	}

	.col1_footer ul {
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0;
	}

	.logo_footer {
		display: none;
	}

	.col2_footer button {
		display: none;
	}


}


/*-----------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------         CSS MESSAGERIE          ---------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------*/



.img_banniere_messagerie {
	width: 100%;
	max-width: 100%;
	height: 240px;
	object-fit: cover;
}

.titre_messagerie {
	margin-top: 80px;
	margin-bottom: 80px;
}

.container_messagerie {
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 100%;
	padding: 20px;
	background-color: #f4f4f4;
	border-radius: 10px;
	margin-bottom: 80px;
}

.form_messagerie {
	width: 70%;
}

.div_titre_message {
	padding-top: 40px;
}

.titre_message {
	width: 100%;
	height: 50px;
	padding-left: 30px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-color: #F96540;
}

.div_corps_message {
	padding-top: 40px;
}

.corps_message {
	width: 100%;
	min-width: 100%;
	height: 300px;
	margin: auto;
	padding-top: -50px;
	padding-left: 30px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-color: #F96540;
}

.btnOrange_messagerie {
	margin-top: 30px;
}

.btnOrange_confirmation_messagerie {
	margin-bottom: 40px;
	margin-left: 71%;
}

.container_confirmation_messagerie {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	max-width: 100%;
	padding: 20px;
	background-color: #f4f4f4;
	border-radius: 10px;
	margin-bottom: 80px;
}


.titre_confirmation_messagerie {
	margin-left: 15%;
}

.contenu_confirmation_messagerie {
	margin-left: 15%;
}



/* INSCRIPTION */

.container_inscription {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: #FAFAFB;
	padding-bottom: 30px;
	padding-top: 30px;
	gap: 20px;
}

.col_1_inscription {
	padding-top: 15px;
	background-color: #FAFAFB;
	display: flex;
	align-items: center;
}

.col_1_inscription form {
	width: 100%;
	padding: 0 10%;
}

.label_inscription {
	display: flex;
	flex-direction: column;
}

.label_inscription label {
	margin-top: 30px;
}

.col_2_inscription img {
	height: 500px;
	object-fit: cover;
}

.inscription_btn {
	transform: translate(170px, 20px);
}

.extra_margin {
	margin-bottom: 13px !important;
}


@media screen and (max-width : 767px) {
	.col_1_inscription {
		width: 100%;
		justify-content: center;
	}

	.col_2_inscription {
		display: none;
	}

	.compte-container form {
		padding-left: 0px;
		padding-bottom: 20px;
	}

	.inscription_btn {
		transform: translate(30px, 20px);
	}
}

/*///////////////PAGE Carte////////////////////// */
.backmenu {

	width: 72%;
	margin: auto;
	margin-top: 15px;
}

.backmenu-button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	text-decoration: underline;
	font-style: italic;
}

.backmenu-button:hover {
	text-decoration: none;
}

.container-carte {
	display: flex;
	width: 75%;
	margin: 0;
	margin: auto;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.10);

}

.carte-plats {
	width: 60%;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #FAFAFB;
	padding: 60px 20px;
}


.carte-plats div {
	width: 65%;
}

.carte-plats h2 {
	color: #F96540;
}

.carte-plats ul {
	list-style-type: none;
	display: flex;
}

.carte-plats li {
	margin-bottom: 15px;
}

.div-plats {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.plat ul {
	display: flex;
	flex-direction: column;
}

.carte-boissons {
	padding: 60px 20px;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

.carte-boissons h2{
		color: #F96540;
}
.carte-boissons ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
}

.carte-boissons li {
	margin-bottom: 15px;
}

@media screen and (max-width: 767px) {
	.container-carte {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: auto;
		box-shadow: none;
	}

	.carte-plats h2 {
		color: #F96540;
	}

	.backmenu,
	.container-carte div {
		width: 92%;
		padding: 5px;
	}

	.plat ul,
	.carte-boissons ul {
		padding-inline-start: 5px;
	}

	.carte-plats li,
	.carte-boissons li {
		margin-bottom: 2px;
	}

}

/* ///////// CAROUSSEL ////////// */



.testimonial {
	display: none;
	padding: 20px;
	text-align: center;
	border-radius: 5px;

}

.testimonial.active {
	display: block;
}

.apropos_container {
	display: flex;
	flex-direction: column;
	text-align: justify;
	width: 90%;
	margin-top: 50px;
	padding: 10px;
	margin-bottom: 50px;
}

.apropos_container h1 {
	margin-bottom: 40px;
	font-size: 40px;
}

.apropos_container h3 {
	color: #F96540;
}

.apropos_intro {}

.apropos_mission {}

.apropos_objectif {}

.apropos_tech {}

.apropos_equipe {}

.apropos_resultat {}

.apropos_margin {
	margin-top: 20px;
}

/*///////// QUERY //////////*/

@media screen and (max-width: 767px) {
	.banner_connexion {
		height: 200px;
		width: 100%;
		object-fit: cover;
	}

	.container_connexion {
		display: flex;
		justify-content: center;
		width: 100%;
		background-color: #FAFAFB;
		padding-bottom: 50px;
		padding-top: unset;
	}


	.col_1_connexion {
		padding-top: unset;
		background-color: #FAFAFB;
		display: flex;
		align-items: center;
		width: 100%;
	}

	.col_2_connexion {
		display: none;
	}

	.container_btn {
		margin-top: 45px;
	}

	.btnWhite_connexion {

		border: solid #F96540 1px;
		background-color: unset;
		color: #F96540;
		border-radius: 25px;
		height: 45px;
		max-width: 244px;
		padding: 0 15px;
		cursor: pointer;
	}

	.btnOrange_connexion {
		border: none;
		background-color: #F96540;
		color: white;
		border-radius: 25px;
		height: 45px;
		max-width: 244px;
		padding: 0 15px;
		cursor: pointer;
	}

	.btnOrange_messagerie {
		border: none;
		border: solid #F96540 1px;
		background-color: #FAFAFB;
		color: #F96540;
		border-radius: 25px;
		height: 45px;
		max-width: 244px;
		padding: 0 15px;
		cursor: pointer;
	}

	.titre_messagerie {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.container_confirmation_messagerie {
		margin-bottom: 60px;
	}


	.btnOrange_confirmation_messagerie {
		border: none;
		background-color: #F96540;
		color: white;
		border-radius: 25px;
		height: 45px;
		margin-bottom: 40px;
		margin-left: 16%;
		width: 70%;
		padding: 0 15px;
	}



}