.img_banniere {
	width: 100%;
	height: 379px;
	object-fit: cover;
}

.title {
	background-color: #FAFAFB;
	height: 200PX;
	display: flex;
	justify-content: center;
	align-items: center;
}


h1 {
	color: #F96540;
	text-align: center;


}

h2 {
	color: #F96540;
}


.container_horaires {
	display: flex;
}

.container_restaurant_horaires {
	display: flex;
	justify-content: center;
	gap: 8%;
	width: 100%;
	background-color: #FFF;
	border-radius: 5px;

}

.col_1 {
	display: flex;
	padding: 10px;
	border-radius: 5px;
	flex-direction: column;
	align-content: flex-start;
	align-items: flex-start;
	width: 50%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.col_1 img {
	object-fit: cover;
	height: 300px;
	border-radius: 5px;
	width: 100%;
	margin-bottom: 30px;
}



.bouton_afficher_carte {
	background-color: #F96540;
}

.col_2 {
	display: flex;
	flex-direction: column;

	align-items: center;
	position: relative;

	color: white;
	background-color: #171A1F;
	padding: 10px;
	border-radius: 5px;
}

.col_2 h2 {
	margin-bottom: 11%;
}

.horaires-container {
	margin-bottom: 15px;
}

.margin_retour_liste {
	margin-left: 12%;
	margin-top: 30px;
	margin-bottom: 40px;
}

.margin_retour_liste a {
	text-decoration: underline;
}

.button_reserver {
	bottom: 12px;
}





a {
	color: #F96540;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.btnOrange {
	height: 44px !important;
}

.btnDark {
	height: 44px !important;
}



/*//////////// MEDIA QUERY DETAIL RESTAURANT ////////// */


@media (max-width: 767px) {

	.img_banniere {
		width: 100%;
		min-width: 360px;
		height: 240px;
		object-fit: cover;
	}

	.title {
		background-color: #FAFAFB;
		height: 130PX;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.container_restaurant_horaires {
		flex-direction: column;
		justify-content: center;
		gap: 75px;
		width: 100%;
		background-color: #FFF;
		border-radius: 5px;
		margin-top: 0px;
		box-shadow: none;
	}

	.col_1 {
		display: flex;
		text-align: justify;
		width: 100%;
		padding: 10px;
		border-radius: 5px;
		flex-direction: column;
		align-items: flex-start;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}

	.div_btn_detail_restaurant {
		display: flex;
		justify-content: space-evenly;
		width: 95%;

	}

	.col_2 {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		position: relative;
		width: 100%;
		color: white;
		background-color: #171A1F;
		padding: 10px;
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}

	.revert {
		margin: revert;
	}

	.button_reserver {
		position: unset;
	}

	.margin_retour_liste {
		display: flex;
		margin-left: unset;
		padding: unset;
		justify-content: center;
		margin-top: 30px;
		margin-bottom: 40px;
	}

}