<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
	id="WebApp_ID" version="5.0">
	<display-name>TPConnectedIn</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>/accueil</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>ServletTesterConnexion</display-name>
		<servlet-name>ServletTesterConnexion</servlet-name>
		<servlet-class>controler.ServletTesterConnexion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletTesterConnexion</servlet-name>
		<url-pattern>/ServletTesterConnexion</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletListerRestaurants</display-name>
		<servlet-name>ServletListerRestaurants</servlet-name>
		<servlet-class>controler.ServletListerRestaurants</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletListerRestaurants</servlet-name>
		<url-pattern>/restaurants</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletAfficherCarte</display-name>
		<servlet-name>ServletAfficherCarte</servlet-name>
		<servlet-class>controler.ServletAfficherCarte</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletAfficherCarte</servlet-name>
		<url-pattern>/carte</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletDetailRestaurant</display-name>
		<servlet-name>ServletDetailRestaurant</servlet-name>
		<servlet-class>controler.ServletDetailRestaurant</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletDetailRestaurant</servlet-name>
		<url-pattern>/restaurant</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletAfficherUtilisateur</display-name>
		<servlet-name>ServletAfficherUtilisateur</servlet-name>
		<servlet-class>controler.ServletAfficherUtilisateur</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletAfficherUtilisateur</servlet-name>
		<url-pattern>/MonCompte</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletContacter</display-name>
		<servlet-name>ServletContacter</servlet-name>
		<servlet-class>controler.ServletContacter</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletContacter</servlet-name>
		<url-pattern>/contacter</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>ServletReservation</display-name>
		<servlet-name>ServletReservation</servlet-name>
		<servlet-class>controler.ServletReservation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletReservation</servlet-name>
		<url-pattern>/reserver</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletConnexionUtilisateur</display-name>
		<servlet-name>ServletConnexionUtilisateur</servlet-name>
		<servlet-class>controler.ServletConnexionUtilisateur</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletConnexionUtilisateur</servlet-name>
		<url-pattern>/Connexion</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletInscriptionUtilisateur</display-name>
		<servlet-name>ServletInscriptionUtilisateur</servlet-name>
		<servlet-class>controler.ServletInscriptionUtilisateur</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletInscriptionUtilisateur</servlet-name>
		<url-pattern>/ServletInscriptionUtilisateur</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletModifierUtilisateur</display-name>
		<servlet-name>ServletModifierUtilisateur</servlet-name>
		<servlet-class>controler.ServletModifierUtilisateur</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletModifierUtilisateur</servlet-name>
		<url-pattern>/modifier</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletDeconnexionUtilisateur</display-name>
		<servlet-name>ServletDeconnexionUtilisateur</servlet-name>
		<servlet-class>controler.ServletDeconnexionUtilisateur</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletDeconnexionUtilisateur</servlet-name>
		<url-pattern>/deconnexion</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>SessionFilter</display-name>
		<filter-name>SessionFilter</filter-name>
		<filter-class>filters.SessionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>/contacter/*</url-pattern>
		<url-pattern>/deconnexion/*</url-pattern>
		<url-pattern>/reserver/*</url-pattern>
		<url-pattern>/modifier/*</url-pattern>
		<url-pattern>/MonCompte/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>ServletSupprimerUtilisateur</display-name>
		<servlet-name>ServletSupprimerUtilisateur</servlet-name>
		<servlet-class>controler.ServletSupprimerUtilisateur</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletSupprimerUtilisateur</servlet-name>
		<url-pattern>/supprimer</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletAPropos</display-name>
		<servlet-name>ServletAPropos</servlet-name>
		<servlet-class>controler.ServletAPropos</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletAPropos</servlet-name>
		<url-pattern>/apropos</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>ConnexionFilter</display-name>
		<filter-name>ConnexionFilter</filter-name>
		<filter-class>filters.ConnexionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ConnexionFilter</filter-name>
		<url-pattern>/Connexion/*</url-pattern>
	</filter-mapping>
	<filter>
		<display-name>Error404Filter</display-name>
		<filter-name>Error404Filter</filter-name>
		<filter-class>filters.Error404Filter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Error404Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>Servlet404Redirection</display-name>
		<servlet-name>Servlet404Redirection</servlet-name>
		<servlet-class>controler.Servlet404Redirection</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet404Redirection</servlet-name>
		<url-pattern>/Servlet404Redirection</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/Servlet404Redirection</location>
	</error-page>
</web-app>